<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram UI</title>

    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <nav class = "navbar">
        <div class="nav-wrapper">
            <img src="/images/logo.PNG" class="brand-img" alt="">
            <input type="text" class="search-box" placeholder="search">
            <div class="nav-items">
                <img src="/images/home.PNG" class="icon" alt="">
                <img src="/images/messenger.PNG" class="icon" alt="">
                <img src="/images/add.PNG" class="icon" alt="">
                <img src="/images/explore.PNG" class="icon" alt="">
                <img src="/images/like.PNG" class="icon" alt="">
                <div class="icon user-profile"></div>
            </div>
        </div>
    </nav>

    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div class="status-wrapper">
            </div>
            </div>
            <div class="right-col">

            </div>
        </div>
    </section>
</body>



</html>