<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram UI</title>

    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <nav class = "navbar">
        <div class="nav-wrapper">
            <img src="/images/logo.PNG" class="brand-img" alt="">
            <input type="text" class="search-box" placeholder="search">
            <div class="nav-items">
                <img src="/images/home.PNG" class="icon" alt="">
                <img src="/images/messenger.PNG" class="icon" alt="">
                <img src="/images/add.PNG" class="icon" alt="">
                <img src="/images/explore.PNG" class="icon" alt="">
                <img src="/images/like.PNG" class="icon" alt="">
                <div class="icon user-profile"></div>
            </div>
        </div>
    </nav>

    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div class="status-wrapper">
                    <div class="status-card">
                        <div class="profile-pic"><img src="/images/444.png" alt="">
                        <p class="username">user_name_1</p>
                        </div>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="/images/444.png" alt="">
                        <p class="username">user_name_2</p>
                        </div>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="/images/444.png" alt="">
                        <p class="username">user_name_3</p>
                        </div>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="/images/444.png" alt="">
                        <p class="username">user_name_4</p>
                        </div>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="/images/444.png" alt="">
                        <p class="username">user_name_5</p>
                        </div>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="/images/444.png" alt="">
                        <p class="username">user_name_6</p>
                        </div>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="/images/444.png" alt="">
                        <p class="username">user_name_7</p>
                        </div>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="/images/444.png" alt="">
                        <p class="username">user_name_8</p>
                        </div>
                    </div>

            </div>
            </div>

            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class=profile-pic"><img src="/images/444.png" alt="">
                        </div>
                        <p class="username">modern_web_channel</p>
                    </div>
                    <img src="/images/444.png" class="options" alt="">
                </div>
                <img src="/images/444.png" class="post-images" alt="">
            </div>
            <div class="right-col">

            </div>
        </div>
    </section>
</body>



</html>